
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaginaCorrecta</title>
</head>
<body>
    <div> 
        <label>Puede retirar su dinero.</label>
    </div>
</body>
</html>
